* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


/* estilos prinsipales encabesado */

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
}


/* fin estilos principales encabezados */


/* estilos principales  pie de pagina */

footer {
    background: rgb(253, 29, 29);
    background: linear-gradient(47deg, rgba(253, 29, 29, 1) 22%, rgba(252, 176, 69, 1) 75%, rgba(131, 58, 180, 1) 96%);
    width: 100%;
    height: auto;
}


/* fin estilos principales pie */


/* estilos encavezado y pie de pagina */

.colorh {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgb(253, 29, 29);
    background: linear-gradient(47deg, rgb(229, 0, 0) 22%, rgba(252, 176, 69, 1) 75%, rgba(131, 58, 180, 1) 96%);
}

.presentacion {
    padding: 5px;
    display: flex;
    color: white;
}

.presentacion__texto {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pesentacion__img {
    margin: 1%;
    width: 100px;
    height: 60px;
}

.navegacion {
    text-align: center;
    padding: 1%;
}

.navegacion__tx {
    text-align: center;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.colorh__lista {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin-right: 10px;
}

.navegacion__boton {
    border: 1px solid white;
    border-radius: 10%;
    padding: 3px;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}


/* fin estilos encavezado y pie de pagina */


/* contenedor de tarjetas */

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* fin contenedor tarjeta */


/* titulo presentacion */

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* fin titulo presentacion */


/* inicio estilos tarjetas */

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.625rem;
    height: 20.625rem;
    text-align: center;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 3%;
    background-color: #16191C;
    justify-content: space-between;
}

.tarjeta__ver {
    color: white;
    text-decoration: none;
}

.tarjeta__nombre {
    color: white;
}

.tarjeta__foto {
    width: 60%;
    border-radius: 50%;
}

.tarjeta__texto {
    color: white;
}


/* fin estilos tarjetas */


/* inicio media tablet */

@media screen and (min-device-width: 768px) and (max-device-width: 1034px) {
    .pesentacion__img {
        width: 6.25rem;
        height: 3.125rem;
    }
    .navegacion__boton {
        margin: 1rem 0.5rem;
        border-radius: 0;
    }
    .navegacion__tx {
        margin: 0;
        padding: 1rem;
        text-align: justify;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .tarjeta {
        margin: 1rem;
    }
}


/* fin media tablet */

@media screen and (min-width: 481px) and (max-width: 776px) {
    .colorh {
        flex-flow: column nowrap;
    }
    .pesentacion__img {
        width: 6.25rem;
        height: 3.125rem;
    }
    .colorh__lista {
        flex-flow: row;
    }
    .navegacion__boton {
        margin: 1rem 0.5rem;
        border-radius: 0;
    }
    .navegacion__tx {
        margin: 0;
        padding: 1rem;
        text-align: justify;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tarjeta {
        margin: 1rem;
    }
}


/* inicio media movil */

@media screen and (max-width: 480px) {
    .colorh {
        flex-flow: column nowrap;
    }
    .pesentacion__img {
        width: 6.25rem;
        height: 3.125rem;
    }
    .colorh__lista {
        flex-flow: row;
    }
    .navegacion__boton {
        margin: 1rem 0.5rem;
        border-radius: 0;
    }
    .navegacion__tx {
        margin: 0;
        padding: 1rem;
        text-align: justify;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tarjeta {
        margin: 1rem;
    }
}


/* fin media movil */