* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(30, 25, 25);
    width: 100%;
    height: 200px;
}

.colorh {
    width: 100%;
    height: 100px;
    background: rgb(253, 29, 29);
    background: linear-gradient(47deg, rgba(253, 29, 29, 1) 22%, rgba(252, 176, 69, 1) 75%, rgba(131, 58, 180, 1) 96%);
}

.navegacion {
    text-align: center;
}

.navegacion__tx {
    color: white;
}

.navegacion__boton {
    border: 1px solid white;
    border-radius: 10%;
    padding: 3px;
    float: right;
    text-decoration: none;
    color: white;
    margin: 15px;
    align-items: center;
}

main {
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
}

.tarjeta {
    width: 22.5%;
    height: auto;
    text-align: center;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 3%;
    background-color: rgb(30, 25, 25);
}

.tarjeta__nombre {
    color: white;
}

.tarjeta__foto {
    width: 60%;
    border-radius: 50%;
}

.tarjeta__texto {
    color: white;
}