*{
    margin: 0%;
    padding: 0%;
}
/* --Estilos de formulario-- */

.iniciar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}
.formulario {
    display: flex;
    background-color:#16191c;
    width: 105%;
    height: 105%;
    align-items: center;
    }
    

.registro__data{
    background-color: #363636;
    width: 300px;
    height: 50px;
    margin-bottom: 25px;


}
.registro__data::placeholder {
    color: #FFFAFA;
}
/* --estilos del boton (iniciar sesión)-- */

.registro__enviar {
    border-radius: 10px;
    background-color: #FF0000;
    color: white;
    width: 300px;
    height: 50px;
      


}
/* --Estilos del titulo-- */

.main__title{
    font-size: 2.3rem;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}
.login__imagen{
    width: 100%;
    
}
.enlaces{
    border-bottom: 0.1875rem solid transparent;
    color: white;
    padding: 0.8rem 0.6rem 0.675rem 0.6rem;
    text-decoration: none;
  }

