* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #131313;
}

/* --NAVBAR (BARRA DE NAVEGACIÓN)-- */
.header {
  background-color: #0E0E0E;
  position: sticky;
  padding: 0 1rem;
  top: 0;
  width: 100%;
}
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
  .content_space-between {
    justify-content: space-between;
  }
    .logo {
      align-items: center;
      border: 3px solid white;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      width: 2rem;
    }
      .logo__link {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    .navbar {
      align-items: center;
      display: flex;
      justify-content: center;
    }
      .navbar__link {
        border-bottom: 0.1875rem solid transparent;
        color: white;
        padding: 0.8rem 0.6rem 0.675rem 0.6rem;
        text-decoration: none;
      }
      .navbar__link:hover {
        border-bottom: white solid;
      }
      .navbar__link_border-inactive {
        border-bottom: none;
      }
      .navbar__link_border-inactive:hover {
        border-bottom: none;
      }
      .navbar__link_marco {
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        border: 1px solid white;
        margin: 0 0.5rem;
      }

/* --AREA DEL HERO (LANDING PAGE)-- */
.hero {
  background-color: black;
  display: flex;
  width: 100%;
}
  .hero__content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../img/hero-img.jpg);
    background-size: cover;
    background-position: center center;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 37.5rem;
    padding: 0 1rem;
    padding-top: 12.5rem;
  }
    .hero__title {
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-size: 4.625rem;
      margin: 2rem;
    }
    .hero__eslogan {
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2rem;
      text-align: center;
    }
    .button {
      background-color: red;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
    }
      .button__link {
        color: white;
        padding: 0.8rem 2.5rem;
        text-decoration: none;
      }

/* --AREA DE SERVICIO--  */
.seccion {
  background-color: #131313;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
  .servicios_content {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
  }
  .servicios_background {
    background-color: #1D1D1D;
  }
  .grupo__content-title {
    display: flex;
    justify-content: center;
  }
  .grupo__title {
    background-color: red;
    color: white;
    margin: 2rem;
    padding: 0.3rem 0.5rem;
  }
  .card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }
  .card {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 1rem;
    padding: 1rem;
    width: 15.625rem;
  }
    .card_imagen-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../img/servicio1.png);
      background-position: center center;
      background-size: cover;
    }
    
    .card_imagen-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../img/servicio2.jpg);
      background-position: center center;
      background-size: cover;
    }
    .card_imagen-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(../img/servicio3.jpg);
      background-position: center center;
      background-size: cover;
    }
    .card__title {
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
    }
    .card__descripcion {
      color: gray;
      font-size: 1rem;
    }
    .card__precio {
      font-size: 3rem;
      margin: 3rem 0;
    }
    .card_button-transparent {
      background-color: transparent;
      border: 0.125rem solid white;
    }

/* --AREA PRODUCTOS-- */
    .grupo__content-title_flex-start {
      justify-content:space-evenly;
      flex-wrap: wrap;
    }
    .grupo__title_trasparent {
      background-color: transparent;
    }
    .grupo__title_estruct {
      margin: 0;
      padding: 0;
    }
    .grupo__title-responsive {
      width: 15.625rem;
    }
    .card__product {
      border: 1px solid white;
      padding: 0;
    }
    .card__img-product {
      height: 9.375rem;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
      .card__img-product_1 {
        background-image: url(../img/productos/producto-1.png);
      }
      .card__img-product_2 {
        background-image: url(../img/productos/producto-2.png);
      }
      .card__img-product_3 {
        background-image: url(../img/productos/producto-3.png);
      }
      .card__img-product_4 {
        background-image: url(../img/productos/producto-4.png);
      }
      .card__img-product_5 {
        background-image: url(../img/productos/producto-5.png);
      }
      .card__img-product_6 {
        background-image: url(../img/productos/producto-6.png);
      }
      .card__img-product_7 {
        background-image: url(../img/productos/producto-7.jpg);
      }
      .card__img-product_8 {
        background-image: url(../img/productos/producto-8.png);
      }
      .card__img-product_9 {
        background-image: url(../img/productos/producto-9.png);
      }
    
      .card__product_content-title {
        width: 100%;
        padding: 0 2rem;
      }
      .card__product_title {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }
      .card__product_line {
        border: 1px solid white;
        margin: 1rem 0;
        width: 100%;
      }
      .card__product_content-buttons {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
      }
      .card__product_button {
        text-decoration: none;
        color: white;
      }
/* --AREA CONTACTOS-- */
    .margin__bottom-inactive {
      margin-bottom: 0;
    }
    .card_contact {
      background-color: #1A1A1A;
      justify-content: center;
      width: 14rem;
      margin: 1.5rem;
      padding: 5rem 0;
      box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.22);
    }
    .card__icon {
      font-size: 5rem;
    }
    .card__info {
      margin: 1rem;
    }
    .card__content-group_padding {
      margin: 2rem;
    }
    /* --AREA FOOTER-- */
    .footer {
      background-color: #0A0909;
    }
    .footer__text {
      color: white;
      font-size: 1rem;
      padding: 0 0.5rem;
    }
    .footer__content_redes {
      padding: 1rem;
      display: flex;
      align-items: center;
    }
    .footer__icon {
      color: white;
      font-size: 1.5rem;
      padding: 0.425rem;
    }

    @media screen and (max-width:600px) {
      .header__content {
        flex-flow: column wrap;

      }
      .navbar {
        flex-wrap: wrap;
      }
    }