* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #16191C;
    display: flex;
    width: 100%;
    justify-content: center;
}

.registro__atras {
    margin-right: 10px;
    margin-top: 10px;
    width: 37px;
    height: 32px;
    float: right;
}

.formulario {
    display: flex;
    background-color: #16191C;
    width: 95%;
    height: 94%;
    border: #16191c solid 5px;
    margin: 10px;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.registro__data {
    background-color: #333333;
    width: 300px;
    height: 50px;
    margin-bottom: 25px;
}

.registro__data::placeholder {
    color: #FFFAFA;
}

.registro__data:hover {
    background-color: #6b6a6a;
}

.registro__enviar {
    border-radius: 10px;
    background-color: #FF0000;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 50px;
}

.registro__enviar:hover {
    background-color: #800000;
}

.enlaces {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.formulario__imagen {
    width: 100%;
    border-radius: 8px;
}